# virtualenv
venv/

# IDEA files
.idea/
*.iml

# python
__pycache__/

# dist, test
build/
dist/
.pytest_cache/
*.egg-info

# setuptools_scm version
src/vromfs/_version.py

# Sphinx documentation
docs/_build/

# drawio
docs/**/*.drawio.bkp
docs/**/*.drawio.dtmp

# hex editor tags
tests/samples/**/*.tags
